/* Main Container */
.homeContainer {
  max-height: 90vh;
  text-align: center;
  padding: 30px;
  background-color: #72b85c;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: block;
}

/* Header */
.heading {
  font-size: 2.5rem;
  color: #fff7f3; 
  -webkit-text-stroke: 2px black;
}

/* Paragraph */
.paragraph {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button */
.button {
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #8fe673; 
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: inset 5px 0 #72b85c;
  transition: transform 0.2s ease-in-out; 
}

.button:hover {
  transform: scale(1.13);
}

@media (max-width: 768px) {
  .homeContainer {
    width: 50%;
  }

  .heading {
    font-size: 2em;
    margin: 0;
  }

  .paragraph {
    font-size: 0.8em;
  }

  .button {
    font-size: 0.7rem;
  }
}