/* Main Container */
.homeContainer {
  text-align: center;
  padding: 20px;
  background-color: #71aa52;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
.heading {
  font-size: 2.5rem;
  color: #fff7f3; 
  -webkit-text-stroke: 2px black;
}

/* Paragraph */
.paragraph {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button */
.button {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #97da7b; 
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out; 
}

.button:hover {
  transform: scale(1.13);
}
