.ListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.DeleteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .TrashIcon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out; 
  }
  
  .TrashIcon:hover {
    transform: scale(1.13);
  }